<section id="products" class="section-bg">
    <div class="container">
        <div class="section-header">
            <h2>Products</h2>
        </div>
        <div class="row">
            {% for category in categories %}
                <div class="col-12">
                    <h3>{{ category.name }}</h3>
                </div>
                {% for product in category.prods.all %}
                    <div class="col-lg-4 col-md-6 product">
                        {% if product.photo %}
                            <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="img-fluid">
                        {% endif %}
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <p>{{ product.price }} USD</p>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
